@page
@model PetHealthCareSystemRazorPages.Pages.Admin.AccountManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Register User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegisterDto.FullName" class="control-label"></label>
                <input asp-for="RegisterDto.FullName" class="form-control" />
                <span asp-validation-for="RegisterDto.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDto.UserName" class="control-label"></label>
                <input asp-for="RegisterDto.UserName" class="form-control" />
                <span asp-validation-for="RegisterDto.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDto.Email" class="control-label"></label>
                <input asp-for="RegisterDto.Email" class="form-control" />
                <span asp-validation-for="RegisterDto.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDto.PhoneNumber" class="control-label"></label>
                <input asp-for="RegisterDto.PhoneNumber" class="form-control" />
                <span asp-validation-for="RegisterDto.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDto.Password" class="control-label"></label>
                <input asp-for="RegisterDto.Password" class="form-control" type="password" />
                <span asp-validation-for="RegisterDto.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDto.ConfirmPassword" class="control-label"></label>
                <input asp-for="RegisterDto.ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="RegisterDto.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="1">Customer</option>
                    <option value="2">Staff</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
