@page
@model PetHealthCareSystemRazorPages.Pages.Staff.StaffDashboard.IndexModel
@{
    ViewData["Title"] = "Staff Dashboard";
}

<h2>Staff Dashboard</h2>

<div style="width:100%; height:100vh; display: flex; justify-content:center; align-items:center; flex-direction: column; gap:10px">
    <a asp-page="/Staff/BookingManagement/Index" class="btn btn-primary">Manage bookings</a>
    <a asp-page="/Staff/BookingTransaction/Index" class="btn btn-primary">Manage transactions</a>
</div>
