@page
@model StaffDashboard
@{
    ViewData["Title"] = "Staff Dashboard";
}

<h2>Staff Dashboard</h2>
<div class="d-flex vh-100 justify-content-center align-items-center flex-column">
    <a asp-page="/Staff/Appointment/BookingManagement" class="btn btn-primary">Manage bookings</a>
    <a asp-page="/Staff/BookingTransaction/Index" class="btn btn-primary">Manage transactions</a>
</div>
