@page
@model AdminDashboard
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div>
    <a asp-page="/Admin/AccountManagement/Index" class="btn btn-primary" style="background-color: #0069d9">Account Management</a>
    <a asp-page="/Admin/Appointment/BookingManagement" class="btn btn-primary" style="background-color: #0069d9">Booking Management </a>
    <a asp-page="/Service/Index" class="btn btn-primary" style="background-color: #0069d9">Service Management</a>
    <a asp-page="/Admin/MedicalItemManagement/Index" class="btn btn-primary" style="background-color: #0069d9">Medical Item Management</a>
</div>


