@page
@model PetHealthCareSystemRazorPages.Pages.Admin.AdminDashboard.IndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div>
    <a asp-page="/Admin/AccountManagement/Index" class="btn btn-primary">Account Management</a>
    <a asp-page="/Admin/AccountManagement/Index" class="btn btn-primary">revenue statistics </a>
</div>


