@page
@model StaffDashboard
@{
    ViewData["Title"] = "Staff Dashboard";
}

<h2>Staff Dashboard</h2>

<div class="justify-content-center align-items-center flex-column" style="gap:10px;">
    <a asp-page="/Staff/Appointment/BookingManagement" class="btn btn-primary" style="background-color: #0069d9">Manage bookings</a>
    <a asp-page="/Staff/BookingTransaction/Index" class="btn btn-primary" style="background-color: #0069d9">Manage transactions</a>
</div>
