@page
@model PetHealthCareSystemRazorPages.Pages.Vet.VetDashBoard.IndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container" style="margin-top: 150px">
    <main role="main" class="pb-3">
<h2>Vet Dashboard</h2>

<div>
    <a asp-page="/Vet/TimeTable/Appointment" class="btn btn-primary">Appointment</a>
</div>

</main>
</div>
