@page
@model PetHealthCareSystemRazorPages.Pages.BookAppointment.TransactionFormModel
@{
}

<div class="page-conatainer">
    <div class="form-header-block form-block">
        <h2>Payment</h2>
    </div>

    <div class="form-block">
        <label>Pets</label>

        <div class="pet-info-block">

        </div>
    </div>

    <div >

    </div>

</div>