@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Appointment</h1>

<hr />
<div class="row" style="margin-left:30px">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AppointmentBookRequestDto.TimeTableId" class="control-label"></label>
                <select asp-for="AppointmentBookRequestDto.TimeTableId" class="form-control" asp-items="ViewBag.TimeTableId"></select>
                <span asp-validation-for="AppointmentBookRequestDto.TimeTableId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentBookRequestDto.AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentBookRequestDto.AppointmentDate" class="form-control" type="date" />
                <span asp-validation-for="AppointmentBookRequestDto.AppointmentDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentBookRequestDto.Note" class="control-label"></label>
                <textarea asp-for="AppointmentBookRequestDto.Note" class="form-control"></textarea>
                <span asp-validation-for="AppointmentBookRequestDto.Note" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentBookRequestDto.VetId" class="control-label"></label>
                <select asp-for="AppointmentBookRequestDto.VetId" class="form-control" asp-items="ViewBag.VetId"></select>
                <span asp-validation-for="AppointmentBookRequestDto.VetId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentBookRequestDto.ServiceIdList" class="control-label"></label>
                <select asp-for="AppointmentBookRequestDto.ServiceIdList" class="form-control" asp-items="ViewBag.Services" multiple></select>
                <span asp-validation-for="AppointmentBookRequestDto.ServiceIdList" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AppointmentBookRequestDto.PetIdList" class="control-label"></label>
                <select asp-for="AppointmentBookRequestDto.PetIdList" class="form-control" asp-items="ViewBag.Pets" multiple></select>
                <span asp-validation-for="AppointmentBookRequestDto.PetIdList" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="BookingManagement">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
