@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.TimeTableId" class="control-label"></label>
                <select asp-for="Appointment.TimeTableId" class="form-control" asp-items="ViewBag.TimeTableId"></select>
                <span asp-validation-for="Appointment.TimeTableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label"></label>
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Note" class="control-label"></label>
                <input asp-for="Appointment.Note" class="form-control" />
                <span asp-validation-for="Appointment.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Status" class="control-label"></label>
                <select asp-for="Appointment.Status" class="form-control"></select>
                <span asp-validation-for="Appointment.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.BookingType" class="control-label"></label>
                <select asp-for="Appointment.BookingType" class="form-control"></select>
                <span asp-validation-for="Appointment.BookingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Rating" class="control-label"></label>
                <input asp-for="Appointment.Rating" class="form-control" />
                <span asp-validation-for="Appointment.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Feedback" class="control-label"></label>
                <input asp-for="Appointment.Feedback" class="form-control" />
                <span asp-validation-for="Appointment.Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.VetId" class="control-label"></label>
                <input asp-for="Appointment.VetId" class="form-control" />
                <span asp-validation-for="Appointment.VetId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Appointment.Id" />
            <div class="form-group">
                <label asp-for="Appointment.CreatedBy" class="control-label"></label>
                <input asp-for="Appointment.CreatedBy" class="form-control" />
                <span asp-validation-for="Appointment.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.LastUpdatedBy" class="control-label"></label>
                <input asp-for="Appointment.LastUpdatedBy" class="form-control" />
                <span asp-validation-for="Appointment.LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DeletedBy" class="control-label"></label>
                <input asp-for="Appointment.DeletedBy" class="form-control" />
                <span asp-validation-for="Appointment.DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.CreatedTime" class="control-label"></label>
                <input asp-for="Appointment.CreatedTime" class="form-control" />
                <span asp-validation-for="Appointment.CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.LastUpdatedTime" class="control-label"></label>
                <input asp-for="Appointment.LastUpdatedTime" class="form-control" />
                <span asp-validation-for="Appointment.LastUpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DeletedTime" class="control-label"></label>
                <input asp-for="Appointment.DeletedTime" class="form-control" />
                <span asp-validation-for="Appointment.DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./BookingManagement">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
